button, .button {
  background: $red;
  padding: 6px 15px;
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
  font: inherit;
  color: inherit;
  border: 0;
  &:hover {
    background: $orange;
  }
}