input, select, textarea {
  font: inherit;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  width: 100%;
}

label {
  display: flex;
  margin-top: 20px;
}

div[id$='image'] {
  label {
    display: none;
  }
}

form {
  button {
    margin-top: 20px;
  }
}